 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


$testfont: 'PT Sans', sans-serif;
//font-family: 'Francois One', sans-serif;
$iceblue: hsla(175, 28%, 78%, 1);
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image:url("/images/iceberg.jpeg");
  background-size: cover;
  height:600px;
  font-size: 62.5%;

}
.hero-unit {
  margin-left: 30%;
  width: 60%;

  font-size: 18px;
  margin-top: 30px;
  line-height: 30px;
  background-color:   white;
  padding: 60px;
  position: relative;
  transition: opacity 1s ease;
  opacity: .6;
  height: 500px;
  h1 {
    font-size: 4.0em;
    line-height: 1;
    width: 100%;
    text-align: center;
    letter-spacing: -1px;

  }
  p{
    font-weight: bold;
    text-align: center;
  }
  &:hover{
   opacity: .8;

  }
   #name,#email{
    display: block;
    width: 80%;
    font-size: 15px;
    margin-top: 12px;
    margin-left: 10%;
  //  border: 1px solid $iceblue;
    color: black;
    padding: 10px;
    //background-color: $iceblue;
    height: 35px;
    border: none;
    background-color:  hsla(191, 39%, 92%, 1);
  }
  input:hover{
    border: 1px solid gray;
  }
  button{
  margin-top: 30px;
  position: absolute;
  margin-left: 67%;

  a{
    text-decoration: none;
    color: black;
  }
  }
}
.mailer{
  position: relative;

  p{
    position: absolute;
    margin-top: 60px;
    margin-left: 60%;
  }
  #mailing{
    position: absolute;
    margin-left: 87%;
    margin-top:70px;
  }
}
.language{
  width: 50%;
  margin-left: 46%;
  font-weight: normal;
  margin-top: -50px;
  position: relative;
  p
  {text-align: left;}
  #lang{
    position: absolute;
    margin-top: -42px;
    margin-left: 100px;
  }
}

.gender{
  width: 80%;
  margin-left: 10%;
p{
  text-align: left;
}
label{
  margin-top: -10px;
  margin-right: 60px;
}
}
#radios{

  width: 80%;
  margin-top: 20px;

}

.feels{
  width: 60%;
  padding: 10px;
  list-style-type: none;
  margin-top: 20px;
  margin-left: 30%;
  opacity: .7;

  font-size: 2.0em;
  background-color: $iceblue;

  li{
text-align: center;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  a:hover{
  text-decoration: underline;
  }
}


#thanks{
  font-size: 3.0em;
  width: 60%;
  padding: 20px;
  display: none;
  margin-top: 100px;
  background-color: white;
  opacity: .7;
  text-align: center;
  margin-left: 30%;
  a{
    text-decoration: none;
    color: $iceblue;
  }
  a:hover{
    color: black;
    font-weight: bold;
  }
}
