<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>backbone2</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>Backbone</h1>
      <div class="Join">
      <p>Join our community</p>
      <form name = "Form1" id="memberForm">
        <input type="text" id="name" autofocus="autofocus" placeholder="Your Name"/>

        <input type="text" id="email" autofocus="autofocus" placeholder="E-mail Address"/>
        <div class="mailer">
        <input type="checkbox" name ="checkbox1" id="mailing"/><p>Send me Updates</p>
      </div>
    <div class="gender">
      <p>Gender</p>
        <div id="radios">
      <label for="man">Male   <input type="radio" name="gender" value="Male" id="man"/></label>
    <label for="woman">Female   <input type="radio" name="gender" value="Female" id="woman"/></label>
       </div><!--end of radios-->
    </div><!--end of gender-->
    <div class="language">
      <p>Language</p><select id="lang" name="Language" required>
        <option value = "">--Select a Language --</option>
        <option value = "1">English</option>
        <option value = "2">Spanish</option>
        <option value = "3">Portuguese</option>
        <option value = "4">Other</option>
      </select>


    </div>
        <button>Submit</button>
</form>
    </div><!---end of hero-->


<div id="feelscontainer">

</div>


<script type="text/template" id="feels">
<li> <%= name %> <%= email %>  <%=language %></li>
</script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>  <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/feelings_model.js"></script>
        <script src="scripts/collections/feelings_collection.js"></script>
        <script src="scripts/views/feelings_view.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
